{% extends '@EasyAdmin/page/content.html.twig' %}

{% trans_default_domain 'LongitudeOnePropertyBundle' %}

{% block content_title %}{{ 'entities.manage.title' | trans }}{% endblock %}
{% block page_actions %}
{#    <a class="btn btn-primary" href="..."></a>#}
{% endblock %}

{% block main %}
    <p class="alert alert-info">{{ 'entities.manage.help' | trans }}</p>
    <table class="datagrid">
        <thead>
        <tr>
            <td>{{ 'entities.name' | trans }}</td>
            <td>{{ 'entities.class' | trans }}</td>
            <td>{{ 'entities.actions' | trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for keyword, entity in entities %}
            <tr>
                <td>{{ ('lopb.keyword.' ~ keyword) | trans({}, 'messages') }}</td>
                <td><code>{{ entity.class }}</code></td>
                <td>
                    <a href="{{ path('longitudeone_property_tests_app_admin_dashboard_show_entity', {'keyword': keyword}) }}" title="{{ 'entities.show' | trans }}" class="btn">
                        <span class="sr-only">{{ 'entities.show' | trans }}</span>
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}