{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block detail_fields %}
    {% if field_layout.hasTabs %}
        {{ _self.render_detail_fields_with_tabs(entity, field_layout) }}
    {% else %}
        {{ _self.render_detail_fields(entity, field_layout.fields) }}
        {{ _self.render_detail_properties(lopb.properties) }}
    {% endif %}
{% endblock detail_fields %}

{% macro render_detail_properties(properties) %}
    {% set form_panel_is_already_open = false %}
    {% for property in properties %}
        {% set is_form_field_panel = false %}

        {% if is_form_field_panel or (loop.first and not is_form_field_panel) %}
            {% if form_panel_is_already_open %}
                {{ _self.close_form_field_panel() }}
                {% set form_panel_is_already_open = false %}
            {% endif %}

            {{ _self.open_form_field_panel(is_form_field_panel ? null : null) }}
            {% set form_panel_is_already_open = true %}
        {% endif %}

        {% block detail_field %}
            {% if not is_form_field_panel %}
                {{ _self.render_property(property) }}
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% if form_panel_is_already_open %}
        {{ _self.close_form_field_panel() }}
        {% set form_panel_is_already_open = false %}
    {% endif %}

{% endmacro %}

{% macro render_property(propertyDto) %}
    <div class="data-row {{ propertyDto.fieldDto.cssClass }}">
        <dt>
            {{ propertyDto.fieldDto.label }}
        </dt>
        <dd>
            {{ propertyDto.fieldDto.formattedValue ?? propertyDto.fieldDto.value }}
        </dd>
    </div>
{% endmacro %}

